.good_item {
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 236, 228);
  border: 4px ridge black;
  border-radius: 10px;
}

.counter {
  font-size: 24px;
  display: flex;
  height: fit-content;
  gap: 10px;
  align-items: center;
  
}
button {
  width: fit-content;
  font-size: 20px;
}

h2 {
  font-size: 36px;
  text-shadow: 2px 2px 2px pink;
}
h3{
  font-size: 26px;
  letter-spacing: 1px;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}